.DS_Store
.DS_Store?
**/.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.parquet
*.json
*.log
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
terraform*
.env
**__pycache__/
**google_credentials.json
**logs/